*.swp
*.bak
*.old
*~
*.DS_Store
*.iml
.idea/
.vscode
.bash_history

xb*/LocalSettings.php
xb*/images/
sitemap*
mediawiki/composer.lock
mediawiki/vendor/
mediawiki/extensions/SemanticMediaWiki/
mediawiki/extensions/SemanticScribunto/
mysql/data/
