*.swp
*.bak
*.old
*~
*.DS_Store
*.iml
.idea/
.vscode
.bash_history
LocalSettings.php
LocalSettings_*.php
images/
sitemap*
mediawiki/composer.lock
mediawiki/vendor/
mediawiki/extensions/SemanticMediaWiki/
mediawiki/extensions/SemanticScribunto/
